.site-hl-main{
    background-color: rgb(233, 230, 245);
    display:grid;
    grid-template-columns: 100%;
    width: inherit;
    min-height: 95%;
    max-height: auto;
    padding: 0 20px 40px 20px;
    margin: 0}
    
.language-card{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width:inherit;
    max-width: 1000px;
    height: auto;
    gap: 15vh;
    margin-top: 3em;}

.card{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    gap: 2vh;
    background-color: rgb(253, 253, 255);
    border-radius: 10%;
    box-shadow: 2px 5px 13px rgb(179 178 194);
    color:rgb(145 134 167);
    width: 300px;
    height: 300px;
    max-width: 90%;
    padding: 2vh;
    margin:0;
    }


.card-left-column {
    position: absolute;
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 2vh;
    top: 2vh; 
    left: 2vh; 
    right: 55%; 
    bottom: 2vh;
    }

.card-right-column {
    position: absolute;
    display: grid;
    grid-template-rows: 5fr 1fr;
    align-items: stretch;
    justify-items: stretch;
    gap: 2vh;
    top: 2vh; 
    left: 52%; 
    right: 2vh; 
    bottom: 2vh;
    }

.card-right-column .card-right-top {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2vh;
}

.card-right-column .card-right-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2vh;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow:hidden;
    background-color: rgb(253, 253, 255);
    border-radius: 18%;
    box-shadow: 1px 4px 12px rgb(199, 198, 213);
    height: 100%;
    width: 100%;
    margin: 0;
    flex: 1;
}

.box img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

.box p {
    font-weight:500;
    margin:0;
}


#left-top-box:before {
    content: "";
    position: absolute;
    border-radius: 18%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 36.5%;
    background-color: rgba(233, 230, 245, 0.3);
    transition: opacity 0.5s ease-in-out; /* adjust the timing as needed */
}

#left-top-box:hover:before {
    opacity: 0;
}

#left-top-box p {
    color: rgb(255, 255, 255);
    text-shadow:0 0 10px rgb(123 89 0);
    transition: color 0.5s ease-in-out; /* adjust the timing as needed */
}

#left-top-box:hover p {
    color: transparent;
    text-shadow:none;
}

@media screen and (min-width: 500px) { /* For not mobile */
    .language-card {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .card {
        max-height: 400px;
        width: 400px;
        height: 400px;
    }
    }


.enlarged_language {
    position:absolute;
    display: none;
    background: linear-gradient(328deg, rgb(232 230 245), rgb(232 230 245));
    box-shadow: 2px 5px 12px rgb(183 180 199);
    border-radius: 10%;
    border-bottom: #402819;
    width: 400px; 
    max-width:90%; 
    height: 400px;
    padding:2vw 2vw 2vw 2vw;
    margin:0;
}

.enlarged_language_content {
    position: absolute;
    top: 50%; /* center */
    left: 50.2%; /* center */
    transform: translate(-50%, -50%); /* center */
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    padding:0vh;
    margin:0;
}

::-webkit-scrollbar {
    width: 0.5vh; /* width of the entire scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(232 230 245); /* color of the tracking area */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255 255 255); /* color of the scroll handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(220, 217, 233, 0.8); /* color of the scroll handle on hover*/
}

.close_icon_border {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(150, 146, 176, 0.87);
    top: calc(100% + 3vw); /* 100% of the container height plus 3vw */
    left: 50%;
    width:4vh;
    height:4vh;
    transform: translateX(-50%); /* Center the element horizontally */
    border-radius: 50%; /* Make the border round */
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

.close_icon {
    display: inline-block;
    width: 80%;
    height: 80%;
    font-size: 3vh; 
    font-weight: bold; 
    color: rgba(247, 246, 253, 0.8);;
    text-align: center;
    line-height: 3vh;
    padding: 0;
}

.close_icon:hover,
.close_icon:focus {
    color: rgba(84, 83, 93, 0.8);
    text-decoration: none;
    cursor: pointer;
}

.box:hover {
    cursor: pointer;
}


/*language: cantonese*/
.cantonese-vowels{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3vh;
    align-items: flex-start;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}
    
.cantonese-vowels table{
    border-style:dotted;
    border-color: ivory;
    text-align: center;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}

.cantonese-consonants{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    align-items: flex-start;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}

.cantonese-consonants table{
    border-style:dotted;
    border-color: ivory;
    text-align: center;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}

.cantonese-tones{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    align-items: flex-start;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}

.cantonese-tones table{
    border-style:dotted;
    border-color: ivory;
    text-align: center;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}