.site-hl-main{
    background-color: rgb(233, 230, 245);
    display:grid;
    grid-template-columns: 100%;
    width: inherit;
    min-height: 95%;
    max-height: auto;
    padding: 0 20px 40px 20px;
    margin: 0}
    
.language-card{  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width:inherit;
    height: auto;
    gap: 15vh;
    margin-top: 3em;}

.card{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    gap: 2vh;
    background-color: rgb(253, 253, 255);
    border-radius: 10%;
    box-shadow: 2px 5px 13px rgb(179 178 194);
    color:rgb(152, 149, 158);
    aspect-ratio: 1;
    max-height: auto;
    width: 90%;
    max-width: 400px;
    padding: 2vh;
    margin:0;
    }


.card-left-column {
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 2vh;
    }

.card-right-column {
    display: grid;
    grid-template-rows: 5fr 1fr;
    gap: 2vh;
    }

.card-right-column .card-right-top {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2vh;
}

.card-right-column .card-right-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2vh;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow:hidden;
    background-color: rgb(253, 253, 255);
    border-radius: 18%;
    box-shadow: 2px 5px 13px rgb(179 178 194);
    height: 100%;
    width: 100%;
    margin: 0;
    flex: 1;
}

.box img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

.box p {
    margin:0;
}


@media screen and (min-width: 768px) { /* For not mobile */
    .language-card {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .card {
        aspect-ratio: 1;
        max-height: 400px;
    }
    }



/*language: cantonese*/
.cantonese-vowels{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    align-items: flex-start;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}
    
.cantonese-vowels table{
    border-style:dotted;
    border-color: ivory;
    text-align: center;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}

.cantonese-consonants{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    align-items: flex-start;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}

.cantonese-consonants table{
    border-style:dotted;
    border-color: ivory;
    text-align: center;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}

.cantonese-tones{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    align-items: flex-start;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}

.cantonese-tones table{
    border-style:dotted;
    border-color: ivory;
    text-align: center;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}