ol,ul{list-style:none}
a:link {text-decoration: none; color: rgb(115, 124, 173)}
a:hover {text-decoration:underline;}
a:visited {text-decoration: none; color:rgb(137, 115, 173)}
.nav::-webkit-scrollbar {display: none;}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}
img{max-width:100%}

html {
  background-color: rgb(220, 240, 232);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-left: 0em;
  padding-right: 0em;
  font-size: 10px;}

body{
  background-color: rgb(255, 255, 255);
  /*background-color: rgb(191, 180, 211);*/
  color: #313b3f;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-size: 1.6rem;line-height: 1.6em;font-weight: 400;font-style:normal;letter-spacing:0;
  line-height: 1;
  display: grid;
  grid-template-rows: 3em auto;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  padding-bottom: 0em 0em 0em 0em;
  margin: 0;}


/* header */
body > header{
  background-color: rgb(0, 0, 0);
  height: 3em;
  width: inherit;
  align-items: center;
  padding: 0em 0em 0em 0em;
  margin: 0em 0em 0em 0em;}

.site-nav-three{
  display: flex;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  padding-top: 0.5em;}

/* left */
.nav-logo{
  min-width: 4rem;
  align-items: center;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 1em;
  padding-right: 3%;
  margin-top: 0em;
  margin-bottom: 0em;}

.nav{
  flex: 2;
  overflow: hidden;
  padding: 0em 0em 0em 0em;
  margin-top: 0.2em;
  margin-bottom: 0em;
  overflow-x: auto;
  white-space: nowrap;}



.nav li {
  border-radius: 8px;
  display: inline;
  position: relative;
  flex-basis: inherit;
  padding: 0rem;
  margin-right: 3%;}

.logo {
  height: 25px;}

.nav a{
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.3em 0;
  color: rgb(199, 199, 199);}

.nav a.menu{
  position: relative;}
.nav a.menu:hover:before {
  visibility: visible;
  width: 100%;}
.nav a.menu:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.11rem;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;}

/* right */
.nav-social{
  display: block;
  overflow: hidden;
  align-items: center;
  padding-left: 1em;
  padding-right: 0.8em;
  margin-top: 0.2em;
  margin-bottom: 0em;
  white-space:nowrap;}

.nav-social li {
  display: inline-block;
  /*margin-right: 12px;*/}

.nav-social a{
  display: inline-block;
  height: 25px;
  width: 25px;}

/* main */
.container{
  height: inherit;
  padding: 0em 0em 0em 0em;
  margin: 0em 0em 0em 0em;
  overflow-y: scroll;}

/* Title */
main{
  background-color: rgb(255, 255, 255);
  position: relative;
  width: inherit;
  height: auto;
  min-height: 1000px;
  padding: 0 20px 40px 20px;
  margin-left: 0;
  margin-right: 0;}

.site-kg-main{
  background-color: rgb(233, 230, 245);
  display:grid;
  grid-template-columns: 100% auto;
  width: inherit;
  min-height: 1000px;
  max-height: auto;
  padding: 0 20px 40px 20px;
  margin: 0}

.site-title{
  font-size: 1.6em;}

  /* Content */
.site-home-content, .site-kg-content, .site-fl-content, .site-ab-content{
  width: auto;
  height:auto;
  padding-top: 2em;
  padding-bottom: 5em;
  padding-left: 3%;
  padding-right: 3%;
  /*overflow-y: scroll;*/}

.intro {
  text-align: left;
  line-height: 1.5em;}
  
.icon{
  height: 25px;
  width: 25px;}

/*knowledge Base*/
.knowledge-card{  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: auto;
  max-height: inherit;
  gap: 3em;
  margin-top: 3em;}
  
.card{
  border-radius: 4px;
  background-color: rgb(253, 253, 255);
  color:rgb(152, 149, 158);
  min-height: 3em;
  width: inherit;
  height: 300px;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 8px;
  overflow: hidden;}

.card > .card-title{
  display: grid;
  height: inherit;
  grid-template-rows: auto auto;
  gap: 30px;
  
  overflow: hidden;}

.card-title:hover {
  text-decoration:none;}

.card-title > .card-cover-image{
  height:180px;
  z-index: 1;
  overflow: hidden;
  padding: 0em 0em 0em 0em;}

.card-title > .card-cover-title{
  background-color: rgb(253, 253, 255);
  text-align: center;
  height:80px;
  z-index: 2;
  overflow: hidden;
  padding: 0em 0em 0em 0em;
  margin: 0em 0em 0em 0em;}

.card-title h4{
  margin: 0em 0em 0em 0em;}

.cover-image{
  border-radius: 3px;
  min-width: auto;
  min-height: auto;}

  /*human language*/
  .site-kg-content h3{
    margin-top: 3em;
    margin-bottom: 1em;}

  .cantonese-vowels{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    align-items: flex-start;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}
  
  .cantonese-vowels table{
    border-style:dotted;
    border-color: ivory;
    text-align: center;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}

  .cantonese-consonants{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    align-items: flex-start;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}

  .cantonese-consonants table{
    border-style:dotted;
    border-color: ivory;
    text-align: center;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}

  .cantonese-tones{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    align-items: flex-start;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}

  .cantonese-tones table{
    border-style:dotted;
    border-color: ivory;
    text-align: center;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}

  /*Fishing*/
  .main-headline{
    text-align: center;
    height: inherit;
    padding: 0em 2em 0em 2em;}

  .main-headline > .headline-image{
    width: 600px;
    align-items: center;
    margin: 0em 0em 0em 0em;}

/* footer */
footer{
  text-align: center;
  position:relative;
  /*position:absolute;
  bottom: 0;*/
  width: inherit;
  min-height: 4em;
  padding-top:20px;
  padding-bottom:20px;
  color:rgb(204, 204, 204);
  background:#090a0b;}

.copyright-contact{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5em;
  align-items: center;
  padding: 0em 0em 0em 0em;
  margin: 0em 0em 0em 0em;}

.copyright{
  text-align: center;
  margin: 0.5em 0em 0.5em 0em;}

.footer-contact{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 0.5em;
  height:inherit;
  padding: 0em 0em 0em 0em;
  margin: 0em 2em 0em 2em;}

.contact-email{
  height:inherit;}

.contact-icon{
  height: 20px;
  width: 20px;}

.footer-contact a:hover {
  text-decoration: none;
  font-weight:bold;}

.email{  
  display: grid;
  grid-template-columns: 20px 20px;
  align-items: center;
  gap: 0.5em;}
  
.text-email{
  margin: 0em 0em 0em 0em;}

.twitter{  
  display: grid;
  grid-template-columns: 20px 40px;
  align-items: center;
  gap: 0.5em;}
  
.text-twitter{
  margin: 0em 0em 0em 0em;}

.linkedin{  
  display: grid;
  grid-template-columns: 20px 40px;
  align-items: center;
  gap: 0.5em;}
  
.text-linkedin{
  margin: 0em 0em 0em 0em;}

/*back to top*/
.to-top {
  width: 30px;
  height: 30px;}