ol,ul{list-style:none}
a {color:rgb(137, 115, 173)}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}
img{max-width:100%}

html {
  background-color: rgb(220, 240, 232);
  margin: 0 auto;
  height: 100%;
  padding-left: 0em;
  padding-right: 0em;
  font-size: 10px;}

body{
  background-color: rgb(191, 180, 211);
  color: #313b3f;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-size: 1.6rem;line-height: 1.6em;font-weight: 400;font-style:normal;letter-spacing:0;
  line-height: 1;
  position: relative;
  height: 100%;
  min-height: 100%;
  padding-bottom: 10em;
  margin-right: 0px;
  margin-left: 0px;}


/* header */
.header-with-background {
  padding-bottom: 2em;}

.site-nav{
  background-color: rgb(43, 43, 43);
  padding: 0em 2em 2em 0em;}

.site-nav-two{
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0em 1em 0em 1em;}

.nav-logo{
  min-width: 45px;
  padding-top: 0.9em;
  padding-bottom: 1.2em;
  padding-right: 1em;}

/* left */
.nav{
  /*background-color: rgb(7, 7, 7);*/
  flex-grow: 2;
  overflow: hidden;
  padding: 0rem;
  overflow-x: auto;
  white-space: nowrap;}

.nav::-webkit-scrollbar {
  display: none;}

.nav li {
  border-radius: 8px;
  display: inline;
  position: relative;
  flex-basis: inherit;
  padding: 1.5%;
  margin-right: 10px;}

.logo {
  height: 25px;}

.nav a{
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 0.3em 0;
  color: rgb(199, 199, 199);}

.nav a.menu{
    position: relative;}
.nav a.menu:hover:before {
  visibility: visible;
  width: 100%;}
.nav a.menu:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;}

/* right */
.nav-social{
  display: block;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1.5em;
  white-space:nowrap;}

.nav-social li {
  display: inline-block;
  margin-right: 12px;}

.nav-social a{
  display: inline-block;
  height: 25px;
  width: 25px;}

/* main */
  /* Title */
.site-home-main, .site-kg-main, .site-fl-main, .site-ab-main, .site-ct-main {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 90% auto;
  margin-top: 2em;
  width: inherit;
  height: 100%;
  min-height: 100%;
  padding-top: 2em;
  padding-bottom: 0em;
  padding-left: 5%;
  padding-right: 5%;}

.site-kg-main{
  background-color: rgb(224, 220, 240);
  grid-template-columns: 100% auto;
  width: inherit;
  min-height: 100%;}

.site-kg-content{
  height: 100%;
  min-height: 100%;  }

.knowledge-card{  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3em;
  margin-top: 1em;
  overflow: scroll；}
  
.knowledge-card div{
  background-color: rgb(255, 255, 255);
  color:rgb(152, 149, 158);
  height: 60%;
  width: 90%;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 1em;}

  /* Content */
.intro {
  text-align: left;
  line-height: 1.5em;}
  
.icon{
  height: 25px;
  width: 25px;}

/* footer */
footer{
  text-align: center;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding-top:20px;
  padding-bottom:20px;
  color:rgb(204, 204, 204);
  background:#090a0b;}