/*knowledge Base*/
.site-kg-main{
    background-color: rgb(233, 230, 245);
    display:grid;
    grid-template-columns: 100% auto;
    width: inherit;
    min-height: 95%;
    max-height: auto;
    padding: 0 20px 40px 20px;
    margin: 0}

.site-kg-content h3{
  margin-top: 3em;
  margin-bottom: 1em;}

.knowledge-card{  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: auto;
    max-height: inherit;
    gap: 3em;
    margin-top: 3em;}
    
  .card{
    border-radius: 20px;
    background-color: rgb(253, 253, 255);
    color:rgb(152, 149, 158);
    min-height: 3em;
    width: inherit;
    height: 300px;
    box-shadow: 2px 5px 13px rgb(179 178 194);
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 8px;
    overflow: hidden;}
  
  .card > .card-title{
    display: grid;
    height: inherit;
    grid-template-rows: auto auto;
    gap: 30px;
    
    overflow: hidden;}
  
  .card-title:hover {
    text-decoration:none;}
  
  .card-title > .card-cover-image{
    height:180px;
    border-radius: 15px 15px 0px 0px;
    z-index: 1;
    overflow: hidden;
    padding: 0em 0em 0em 0em;}
  
  .card-title > .card-cover-title{
    background-color: rgb(253, 253, 255);
    text-align: center;
    height:80px;
    z-index: 2;
    overflow: hidden;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}
  
  .card-title h4{
    margin: 0;}
  
  .card-title h5{
    margin: 0;}

  .cover-image{
    border-radius: 3px;
    min-width: auto;
    min-height: auto;}
  
    
    
  
    /*Fishing*/
    .main-headline{
      text-align: center;
      height: inherit;
      padding: 0em 2em 0em 2em;}
  
    .main-headline > .headline-image{
      width: 600px;
      align-items: center;
      margin: 0em 0em 0em 0em;}
  