.research-card{  
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20vw, 1fr));
    height: auto;
    max-height: inherit;
    gap: 8vw;
    margin-top: 3em;}
    
    .card{
    border-radius: 4px;
    background-color:rgb(233, 230, 245);
    color:rgb(152, 149, 158);
    width: inherit;
    min-height: 3em;
    height: 20vw;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 3vw 10vw 3vw 10vw;
    overflow: hidden;}

    .card-cover-title{
    background-color: None;
    height:inherit;
    font-size: 2.5vw;
    line-height:4vw;
    z-index: 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;}