ol,ul{list-style:none}
a:link {text-decoration: none; color: rgb(115, 124, 173)}
a:hover {text-decoration:underline;}
a:visited {text-decoration: none; color:rgb(137, 115, 173)}
.nav::-webkit-scrollbar {display: none;}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}
img{max-width:100%}

html {
  background-color: rgb(220, 240, 232);
  width: 100%; height: 100%;
  padding: 0; margin: 0 auto;
  font-size: 10px;}

body{
  background-color: rgb(255, 255, 255);
  /*background-color: rgb(191, 180, 211);*/
  color: #313b3f;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-size: 1.6rem;line-height: 1.6em;font-weight: 400;font-style:normal;letter-spacing:0;
  line-height: 1;
  display: grid;
  grid-template-rows: 3em auto;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0; margin: 0;}

/* header */

/* left */
.nav li {
    border-radius: 8px;
    display: inline;
    position: relative;
    flex-basis: inherit;
    padding: 0rem;
    margin-right: 3%;}
  
  .nav a{
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 0.3em 0;
    color: rgb(199, 199, 199);}
  
  .nav a.menu{
    position: relative;}
  .nav a.menu:hover:before {
    visibility: visible;
    width: 100%;}
  .nav a.menu:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.11rem;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;}
  
  /* right */
  .nav-social{
    display: block;
    overflow: hidden;
    align-items: center;
    padding-left: 1em;
    padding-right: 0.8em;
    margin-top: 0.2em;
    margin-bottom: 0em;
    white-space:nowrap;}
  
  .nav-social li {
    display: inline-block;
    /*margin-right: 12px;*/}
  
  .nav-social a{
    display: inline-block;
    height: 25px;
    width: 25px;}
  
  .icon{
    height: 25px;
    width: 25px;}

/* footer */
footer{
  text-align: center;
  position:relative;
  /*position:absolute;
  bottom: 0;*/
  width: inherit;
  min-height: 8em;
  padding:3% 0em 3% 0em;
  color:rgb(204, 204, 204);
  background:#090a0b;}

.copyright-contact{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  align-items: center;
  padding: 0; margin: 0;}

.copyright{
  text-align: center;
  margin: 0.5em 0em 0.5em 0em;}

.footer-contact{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 0.5em;
  height:inherit;
  padding: 0; margin: 0em 2em 0em 2em;}

.contact-email{
  height:inherit;}

.contact-icon{
  height: 20px;
  width: 20px;}

.footer-contact a:hover {
  text-decoration: none;
  font-weight:bold;}

.email{  
  display: grid;
  grid-template-columns: 20px 20px;
  align-items: center;
  gap: 0.5em;}
  
.text-email{
  margin: 0;}

.twitter{  
  display: grid;
  grid-template-columns: 20px 40px;
  align-items: center;
  gap: 0.5em;}
  
.text-twitter{
  margin: 0;}

.linkedin{  
  display: grid;
  grid-template-columns: 20px 40px;
  align-items: center;
  gap: 0.5em;}
  
.text-linkedin{
  margin: 0;}